body{
    background:blanchedalmond;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    /* width:100%;
    min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 20px solid black;
}
.text{
    margin-bottom: 25px;
    font-size: 20px;
    letter-spacing: 2px;
}
.loading{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading .line-box{
    padding:2px ;
    width: 500px; ;
    height: 20px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 100px;
}
.loading .line-box .line{
    height: 20px;
    border-radius: 20px;
    background:rgb(131, 12, 85);
    animation: loading 2s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes loading{
    0%{
        width: 0%;
    }
    100%
    {
        width: 100%;
    }
}
